<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>직무 검색</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
    </style>
</head>
<body>
    <form action="#" method="GET">
        {% csrf_token %}
        {{ form.as_p }}
        {% if jobs %}
        <ul>
            {% for job in jobs %}
                <li>{{ job.name }} - {{ job.min_experience }}년 - {{ job.min_wage }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <button type="submit">검색하기</button>
    </form>
</body>
</html>